/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/env
/venv*
/caravel
/dependencies
/openlane/sky130_sram_2kbyte_1rw1r_32x512_8
/mgmt_core_wrapper
/logs
/gds/*.gds
/maglef/*.mag
/mag/*.mag
/lib/*.lib
/def/*.def
/lef/*.lef