#BUS_SORT
#NR
io_caravel_analog_io_8
io_caravel_io_in\[15\]
io_caravel_io_out\[15\]
io_caravel_io_oeb\[15\]
io_caravel_analog_io_9
io_caravel_io_in\[16\]
io_caravel_io_out\[16\]
io_caravel_io_oeb\[16\]
io_caravel_analog_io_10
io_caravel_io_in\[17\]
io_caravel_io_out\[17\]
io_caravel_io_oeb\[17\]
io_caravel_analog_io_11
io_caravel_io_in\[18\]
io_caravel_io_out\[18\]
io_caravel_io_oeb\[18\]
io_caravel_analog_io_12
io_caravel_io_in\[19\]
io_caravel_io_out\[19\]
io_caravel_io_oeb\[19\]
io_caravel_analog_io_13
io_caravel_io_in\[20\]
io_caravel_io_out\[20\]
io_caravel_io_oeb\[20\]
io_caravel_analog_io_14
io_caravel_io_in\[21\]
io_caravel_io_out\[21\]
io_caravel_io_oeb\[21\]
io_caravel_analog_io_15
io_caravel_io_in\[22\]
io_caravel_io_out\[22\]
io_caravel_io_oeb\[22\]
io_caravel_analog_io_16
io_caravel_io_in\[23\]
io_caravel_io_out\[23\]
io_caravel_io_oeb\[23\]

#N
io_mem_addres
io_mem_wdata
io_mem_rdata
io_mem_wmask

io_mem_cs
io_mem_wen

#S
io_caravel_wb_.*
io_caravel_wbs_.*
io_caravel_la_.*
io_caravel_user_clock2
io_caravel_user_irq.*

#E
io_caravel_io_in\[0\]
io_caravel_io_out\[0\]
io_caravel_io_oeb\[0\]
io_caravel_io_in\[1\]
io_caravel_io_out\[1\]
io_caravel_io_oeb\[1\]
io_caravel_io_in\[2\]
io_caravel_io_out\[2\]
io_caravel_io_oeb\[2\]
io_caravel_io_in\[3\]
io_caravel_io_out\[3\]
io_caravel_io_oeb\[3\]
io_caravel_io_in\[4\]
io_caravel_io_out\[4\]
io_caravel_io_oeb\[4\]
io_caravel_io_in\[5\]
io_caravel_io_out\[5\]
io_caravel_io_oeb\[5\]
io_caravel_io_in\[6\]
io_caravel_io_out\[6\]
io_caravel_io_oeb\[6\]
io_caravel_analog_io_0
io_caravel_io_in\[7\]
io_caravel_io_out\[7\]
io_caravel_io_oeb\[7\]
io_caravel_analog_io_1
io_caravel_io_in\[8\]
io_caravel_io_out\[8\]
io_caravel_io_oeb\[8\]
io_caravel_analog_io_2
io_caravel_io_in\[9\]
io_caravel_io_out\[9\]
io_caravel_io_oeb\[9\]
io_caravel_analog_io_3
io_caravel_io_in\[10\]
io_caravel_io_out\[10\]
io_caravel_io_oeb\[10\]
io_caravel_analog_io_4
io_caravel_io_in\[11\]
io_caravel_io_out\[11\]
io_caravel_io_oeb\[11\]
io_caravel_analog_io_5
io_caravel_io_in\[12\]
io_caravel_io_out\[12\]
io_caravel_io_oeb\[12\]
io_caravel_analog_io_6
io_caravel_io_in\[13\]
io_caravel_io_out\[13\]
io_caravel_io_oeb\[13\]
io_caravel_analog_io_7
io_caravel_io_in\[14\]
io_caravel_io_out\[14\]
io_caravel_io_oeb\[14\]

#WR
io_caravel_analog_io_17
io_caravel_io_in\[24\]
io_caravel_io_out\[24\]
io_caravel_io_oeb\[24\]
io_caravel_analog_io_18
io_caravel_io_in\[25\]
io_caravel_io_out\[25\]
io_caravel_io_oeb\[25\]
io_caravel_analog_io_19
io_caravel_io_in\[26\]
io_caravel_io_out\[26\]
io_caravel_io_oeb\[26\]
io_caravel_analog_io_20
io_caravel_io_in\[27\]
io_caravel_io_out\[27\]
io_caravel_io_oeb\[27\]
io_caravel_analog_io_21
io_caravel_io_in\[28\]
io_caravel_io_out\[28\]
io_caravel_io_oeb\[28\]
io_caravel_analog_io_22
io_caravel_io_in\[29\]
io_caravel_io_out\[29\]
io_caravel_io_oeb\[29\]
io_caravel_analog_io_23
io_caravel_io_in\[30\]
io_caravel_io_out\[30\]
io_caravel_io_oeb\[30\]
io_caravel_analog_io_24
io_caravel_io_in\[31\]
io_caravel_io_out\[31\]
io_caravel_io_oeb\[31\]
io_caravel_analog_io_25
io_caravel_io_in\[32\]
io_caravel_io_out\[32\]
io_caravel_io_oeb\[32\]
io_caravel_analog_io_26
io_caravel_io_in\[33\]
io_caravel_io_out\[33\]
io_caravel_io_oeb\[33\]
io_caravel_analog_io_27
io_caravel_io_in\[34\]
io_caravel_io_out\[34\]
io_caravel_io_oeb\[34\]
io_caravel_analog_io_28
io_caravel_io_in\[35\]
io_caravel_io_out\[35\]
io_caravel_io_oeb\[35\]
io_caravel_io_in\[36\]
io_caravel_io_out\[36\]
io_caravel_io_oeb\[36\]
io_caravel_io_in\[37\]
io_caravel_io_out\[37\]
io_caravel_io_oeb\[37\]
